.HomePageTitle {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.HomePageList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
}

.HomePageList > li {
  margin: 0 auto 20px;
}

.HomePageList > li img {
  margin-bottom: 10px;
}

.HomePageList > li p {
  font-size: 16px;
}
