.MovieCard {
  width: 200px;
  margin: 0 auto 15px;
}

.MovieCard img {
  margin-bottom: 15px;
}

.MovieCard p {
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: #2d2c30;
  transition: 0.2s linear;
}

.link:hover {
  box-shadow: 0 0 10px #493586;
  transition: 0.2s linear;
}
